@import 'tailwindcss';

@font-face {
  font-family: 'Aeonik-Trial';
  src: url(/resources/font/AeonikTRIAL-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'Aeonik-Trial';
  src: url(./resources/font/AeonikTRIAL-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'Aeonik-Trial';
  src: url(./font/AeonikTRIAL-Bold.otf);
  font-weight: bold;
}

@layer utilities {
  .font-aeonik {
    font-family: 'Aeonik-Trial', sans-serif;
  }
}

html,
body {
  font-family: 'Aeonik-Trial';
  color: #7b7b7b;
  height: 100%;
  scroll-behavior: smooth;
}

@theme {
  --color-primary: oklch(21% 0.034 264.665);
  --color-secondary: #7b7b7b;
  --color-tertiary: #f8f8f8;
  --color-t200: #f3f3f3;
  --color-t400: #f8f8f8;
}
